.cabeçalho {
background-color: rgb(228, 67, 39);
color: rgb(20, 119, 165);
display: flex;
justify-content: space-around;
padding: 15px 0;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
font-family: 'Ubuntu', sans-serif;
position: fixed;
top: 0;
width: 100%;
}
.corpo-div-conteudo {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
}

.paragrafo-um {
    text-align: justify;
}

.foto-push {
    width:30%;
    padding: 40px;
}

.corpo-titulo {
    text-decoration: underline;
}